#character-detail {
  width: 100vw;
  height: 100vh;
}

#character-detail main {
  margin: 3.2rem auto;
  width: 100%;
}

.character-detail-container {
  background: var(--color-box-base);
  border: 1px solid var(--color-primary-light);
  border-radius: 0.8rem;
  overflow: hidden;
}

.character-detail-container header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}

.character-detail-container header img {
  width: 25rem;
  height: 25rem;
  border-radius: 10%;
}

.character-detail-container header div {
  margin-left: 2.4rem;
}

.character-detail-container header div .character-detail-strong {
  font: 700 2.5rem Archivo;
  display: block;
  color: var(--color-text-title);
  font-size: 5rem;
}

.character-detail-container header div span {
  font: 1.6rem;
  display: block;
  margin-top: 0.4rem;
  font-size: 2.2rem;
}

.haracter-location {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.character-detail-container .button-favorite {
  position: relative;
  bottom: 15.2rem;
  left: 68.5rem;
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--color-secundary);
  transition: color 0.2s;
  cursor: pointer;
}

.character-detail-container .button-favorite:hover {
  color: var(--color-secundary);
  opacity: 0.6;
}

.character-detail-container a {
  text-decoration: none;
}

.character-detail-container a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.character-detail-container a head {
  opacity: 0.5;
  text-decoration: none;
}

.character-status {
  position: relative;
  bottom: 2.6rem;
  left: 68.5rem;
  display: flex;
  align-items: center;
  margin-bottom: -2.3rem;
}

.character-status span {
  margin-left: 2px;
  font-size: 18px;
}

.character-detail-container .character-detail-description div {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.character-detail-container .character-detail-description strong {
  font-size: 18px;
  margin-top: 4px;
  margin-left: 0.5rem;
  color: var(--color-text-base);
  font: 700 2.5rem Archivo;
  display: block;
  color: var(--color-text-complement);
}

.character-detail-container .character-detail-description {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-bottom: 3.5rem;
}

.character-detail-container .character-detail-description hr {
  margin-top: 0.3rem;
  opacity: 0.5;
}

.character-detail-container .character-detail-description div p {
  margin-top: 0.8rem;
  margin-left: 8px;
  color: var(--color-primary);
}

@media (min-width: 700px) {
  #character-detail {
    max-width: 100%;
  }

  .character-detail-container header,
  .character-detail-container footer {
    padding: 3.2rem;
  }

  #character-detail main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
