#character-container {
  width: 100vw;
  height: 100vh;
}

#search-characters {
  margin-top: 3.2rem;
}

#search-characters label {
  color: var(--color-line-in-white);
}

#character-container main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #character-container {
    max-width: 100%;
  }

  #search-characters {
    width: 100%;
    position: absolute;
    bottom: -28px;
  }

  #search-characters .input-block + .input-block,
  #search-characters .select-block + .select-block {
    margin-top: 0;
  }

  #character-container main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}

.loading-container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
