#page-facade {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.hero-image {
  width: 100%;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  color: var(--color-primary-light);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.button-container a {
  width: 40rem;
  height: 10.4rem;
  border-radius: 1rem;
  font: 700 4rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.button-container-img {
  width: 4rem;
  margin-right: 1.6rem;
}

.button-container a {
  background: var(--color-secundary);
}

.button-container a:hover {
  background: var(--color-secundary-dark);
}

.favorite-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.favorite-button:hover {
  transform: scale(1.2);
}

.favorite-button.favorited {
  color: red;
}

@media (min-width: 1100px) {
  #page-facade-content {
    max-width: 1100px;

    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "logo hero hero"
      "buttons buttons total";
  }

  .logo-container {
    grid-area: logo;
    align-self: center;
    text-align: left;
    margin: 0;
  }

  .logo-container h2 {
    text-align: initial;
    font-size: 3rem;
  }

  .logo-container img {
    height: 100%;
  }

  .hero-image {
    margin-top: 4rem;
    width: 100%;
    grid-area: hero;
    justify-self: end;
  }

  .buttons-container {
    grid-area: buttons;
    justify-content: flex-start;
  }

  .buttons-container a {
    font-size: 2.4rem;
  }

  .button-container-img {
    margin-right: 2.1rem;
  }

  .total-connections {
    grid-area: total;
    justify-self: end;
  }
}
